{% extends 'base/base.html' %}

{% block title %}
  Contact 
{% endblock title %}

{% block content %}
  <div class='text-center'>
      <h1>Hello, world!</h1>
       {% if title %}
        <h2> {{ title }} </h2>
       {% endif %}
  </div>

   <div class='container'>
    <div class='row'>
     <div class='col'>
       <div class='col-sm-6 col-12'>

       <form method='post'> 
          {% csrf_token %}
          <input type='text' class='form-control' placeholder='name' name='name' >
          <input type='email' class='form-control' placeholder='email ' name='email' >
          <input type='textarea' class='form-control' placeholder='message body' name='message' >
          <input type='submit' class=b'tn btn-default' value='Submit'>
        </form>
       </div>
     </div>
    </div>
  </div>

{% endblock %}
  